[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mango/Desktop/slack-desktop-4.35.126-amd64.deb]
row=5
col=0

[/home/mango/Desktop/Setup-2.1.1.18.zip]
row=0
col=0

[/home/mango/Desktop/Setup.exe]
row=1
col=0

[/home/mango/Desktop/RSpec.desktop]
row=2
col=0

[/home/mango/Desktop/sas2014.zip]
row=4
col=0

[/home/mango/Desktop/RSpecKey.txt]
row=3
col=0

