[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mango/Desktop/eVscope-20230823-030534.png]
row=0
col=0

[/home/mango/Desktop/eVscope-20230823-030350.png]
row=4
col=0

[/home/mango/Desktop/eVscope-20230823-033341.png]
row=2
col=0

[/home/mango/Desktop/eVscope-20230823-031756.png]
row=1
col=0

[/home/mango/Desktop/eVscope-20230823-024533.png]
row=3
col=0

