[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mango/Desktop/1000031081.png]
row=5
col=0

[/home/mango/Desktop/You’re Booked Spirit Airlines.pdf]
row=16
col=25

[/home/mango/Desktop/Event Meeting (2023-10-09 18_50 GMT-7).txt]
row=1
col=0

[/home/mango/Desktop/Event Meeting (2023-10-09 18_49 GMT-7) - Transcript.docx]
row=2
col=0

[/home/mango/Desktop/1000031065.png]
row=4
col=0

[/home/mango/Desktop/drive-download-20231010T233832Z-001.zip]
row=0
col=0

[/home/mango/Desktop/Event Meeting (2023-10-09 18_50 GMT-7).mp4]
row=3
col=0

