[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mango/Desktop/castor_screenshot.png]
row=2
col=1

[/home/mango/Desktop/mirach_higher_exp.png]
row=0
col=2

[/home/mango/Desktop/castor.png]
row=3
col=0

[/home/mango/Desktop/uranus.png]
row=2
col=2

[/home/mango/Desktop/mirach.png]
row=5
col=0

[/home/mango/Desktop/eVscope-20231121-093612.png]
row=3
col=2

[/home/mango/Desktop/almach.png]
row=1
col=2

[/home/mango/Desktop/castor_wcal.ini]
row=4
col=0

[/home/mango/Desktop/eVscope-20231121-064013.png]
row=0
col=0

[/home/mango/Desktop/eVscope-20231121-092831.png]
row=4
col=2

[/home/mango/Desktop/group_updates_Ian.png]
row=5
col=2

[/home/mango/Desktop/gem_a.png]
row=1
col=0

[/home/mango/Desktop/betelgeuse.png]
row=2
col=0

[/home/mango/Desktop/betelgeuse_screenshot.png]
row=3
col=1

[/home/mango/Desktop/sirius.png]
row=1
col=1

[/home/mango/Desktop/uranus_ev.png]
row=0
col=1

[/home/mango/Desktop/uranus_ev_screenshot.png]
row=4
col=1

[/home/mango/Desktop/Photos-001.zip]
row=5
col=1

