[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mango/Desktop/Shotcut_00_01_56_350.png]
row=10
col=0

[/home/mango/Desktop/eclipse_500x.mp4]
row=11
col=0

[/home/mango/Desktop/eclipse_50x.mp4]
row=4
col=0

[/home/mango/Desktop/Shotcut_00_01_30_483.png]
row=9
col=0

[/home/mango/Desktop/Shotcut_00_01_57_417.png]
row=5
col=0

[/home/mango/Desktop/Shotcut_00_00_17_750.png]
row=7
col=0

[/home/mango/Desktop/Photos-001.zip]
row=12
col=0

[/home/mango/Desktop/Camera]
row=0
col=0

[/home/mango/Desktop/yee]
row=0
col=1

[/home/mango/Desktop/Movies]
row=1
col=0

[/home/mango/Desktop/eclipse_realtime.mp4]
row=2
col=0

[/home/mango/Desktop/Shotcut_00_00_05_750.png]
row=6
col=0

[/home/mango/Desktop/eclipse_halpha.mp4]
row=3
col=0

[/home/mango/Desktop/Shotcut_00_00_33_083.png]
row=8
col=0

