[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mango/Desktop/LICENSE]
row=12
col=0

[/home/mango/Desktop/README.md]
row=13
col=0

[/home/mango/Desktop/exercism-3.1.0-linux-x86_64.tar.gz]
row=11
col=0

